 <section class="hair-loss-text-image-sec">
        <div class="hair-loss-text-image-sec-wrap">
            <div class="img-wrap h-100">
                <img src="~/themes/care4hair/images/services-pages/scalp-micropigmentation-img-1.webp" class="borr-500" alt="beard hair transplant image">
            </div>
            <div class="text-wrap flex-col">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Scalp Micropigmentation
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p>Not everyone is that lucky to have a full head of hair. Whether due to the effects of aging, the wrong hair products, pregnancy, stress, or unlucky genes, your hair can be damaged rather quickly. But there is a subtle way to make your hair appear thicker than it is.
                    <br><br>
                    Scalp micropigmentation (SMP) will effectively replicate the appearance of a plentiful head of hair. This non-surgical procedure’s artistic nature can disguise the worse hair loss situation by tattooing the scalp.                    
                </p>
            </div>
        </div>

    </section>

    <section class="hair-loss-text-sec">
        <div class="hair-loss-bg-2">
            <div class="overlay"></div>
            <img src="~/themes/care4hair/images/services-pages/male-hair-transplant-img-1.png" alt="background image" class="bg-img">
        </div>
        <div class="text-columns">
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        What Is Scalp Micropigmentation?
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p>
                    Scalp micropigmentation is an advanced method of cosmetic pigmentation that uses a series of tiny dots tattooed onto the scalp in between hairs. This stand-alone procedure can produce results that last. With scalp micropigmentation, your receding hairline will look more youthful as an undetectable illusion of thicker and stronger hair is created. Areas of the scalp uncovered during hair thinning, scarring, or skin conditions can be covered up.
                </p>
            </div>
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        How Does Scalp Micropigmentation Work?
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p>
                    A licensed specialist must administer scalp micropigmentation. First, the practitioner will apply pigments with a variety of needle sizes, colors, depths, and angles. The pigments are distributed throughout the scalp as to create a design that resembles natural hair like a closely cropped haircut. We use an advanced technique and tested pigments to create the most pleasing results for our patients. The needles will not penetrate more than they should, and it will beautifully mimic short hairs of a scalp that is closely shaved.
                </p>
            </div>
        </div>
    </section>

    <section class="selector-sec selector-no-text">
        <div class="selector-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    What Can SMP Do For You?
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <p class="selector-sec-p">
                This procedure has multiple benefits, especially for patients who are not good candidates for hair transplant and are ok with keeping their hair short. Among the many benefits of micropigmentation for hair loss we have:
            </p>
            <div class="selector-sec-item-wrap">
                <div class="selector-sec-item selector-sec-item-7" onclick="activateSelector7()">
                    <span class="number">
                        01
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/scalp-icon-1.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-item-text mt-20">
                        Thicker-looking hair for patients suffering from conditions such as alopecia totalis, alopecia areata, and some other scarring alopecias.
                    </div>
                </div>
                <div class="selector-sec-item selector-sec-item-8" onclick="activateSelector8()">
                    <span class="number">
                        02
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/scalp-icon-2.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-item-text mt-20">
                        Women with diffused thinning hair who are not good candidates for hair transplantation may also benefit from this procedure.
                    </div>
                </div>
                <div class="selector-sec-item selector-sec-item-9" onclick="activateSelector9()">
                    <span class="number">
                        03
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/scalp-icon-3.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-item-text mt-20">
                        Excellent camouflage for patients who had scalp reductions or disfiguring scars after hair transplant surgery.
                    </div>
                </div>
                <div class="selector-sec-item selector-sec-item-90" onclick="activateSelector90()">
                    <span class="number">
                        04
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/scalp-icon-4.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-item-text mt-20">
                        Restore front hairline for patients going bold, whether fully or partially.
                    </div>
                </div>
            </div>
            <a href="#" class="button light">Contact us today</a>
        </div>
    </section>

    <section class="hair-loss-text-sec">
        <div class="text-columns">
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Good Candidates For Scalp Micropigmentation
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <ul class="mt-20">
                    <li>Individuals that want the appearance of a full head of hair
                    </li>
                    <li>Patients that wish for a more defined hairline
                    </li>
                    <li>Patients suffering from hair loss or with alopecia
                    </li>
                    <li>Those who wish to disguise burns, scars or any birthmarks
                    </li>
                    <li>Patients that may not qualify for hair transplant surgery
                    </li>
                </ul>
            </div>
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Some Limitations Of SMP (Scalp Micropigmentation)
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <ul class="mt-20">
                    <li>Potential and gradual change in the color of the pigment.
                    </li>
                    <li>The color will fade over time and become lighter especially when exposed to the sun.
                    </li>
                    <li>Bleeding of pigment depending on the technique used.
                    </li>
                    <li>Graying of the hair as the patient ages, so patients are advised to keep their hair short.
                    </li>
                </ul>
            </div>
            
        </div>
    </section>

    <section class="sec-6">
        <div class="sec-6-bg-img"></div>
        <div class="sec-6-wrap">
            <div class="sec-6-header">Scalp Micropigmentation Cost
            </div>
            <p>The average cost of scalp micropigmentation is $4,200 with prices ranging from $1,800 to $6,500. It’s vital that patients get a personalized estimate as these costs may not reflect your particular case. The cost is based on the areas the patient wants to cover. In general, patients need about three sessions to achieve maximum results.
            </p>
            <a href="tel:3052626070" class="button light">(305) 262-6070</a>
        </div>
    </section>

    <section class="solo-text-sec">
        <img src="~/themes/care4hair/images/services-pages/scalp-img-2.png" alt="background image" class="solo-text-img">          
        <div class="solo-text-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Your Scalp Micropigmentation Consultation
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <p>
                Whether face to face, via phone, Skype, or email with supporting photos, it’s crucial you talk to someone before the first scalp micropigmentation Florida session. If meeting face to face is not possible for you, you should try one of the methods mentioned above. Some things need to be established during the initial consultation. This is your chance to learn everything about the process and to determine whether or not this procedure is a good option for you. This is an important decision that will affect you in the long term. Some questions you can ask include:
            </p>
            <ul>
                <li>Who will administer the treatment?
                </li>
                <li>How much experience the person has.
                </li>
                <li>Whether they perform permanent or temporary scalp micropigmentation
                </li>
                <li>Pigments that will be used.
                </li>
                <li>How many sessions are required?
                </li>
                <li>Are the results reliable?
                </li>
            </ul>
        </div>
    </section>

     @await Html.PartialAsync("ContactForms/ServicePageContactForm")

    <section class="faq-sec">
        <div class="faq-wrap">
            <div class="faq-header-wrap">
                <h1>FAQS</h1>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <div class="faqs">
                <div class="faq">
                    <button class="accordion">Is scalp micropigmentation reversible?
                    </button>
                    <div class="panel">
                        <p>Yes, scalp micropigmentation can be removed via laser, similar to tattoo removal or through other specialized SMP removal options.
                        </p>
                    </div>
                
                    <button class="accordion">How long does scalp micropigmentation last?
                    </button>
                    <div class="panel">
                        <p>Micropigmentation is semi permanent and lasts up to eight years. Since human skin naturally regenerates over time, the treated area fades. However, you can minimize fading with the use of SPF sunscreen and adequate aftercare. Touch-ups are an option but most clients will not need to do so for many years. They sometimes prefer for the SMP to soften as they age.
                        </p>
                    </div>

                    <button class="accordion">Will the pigment change color when it fades?
                    </button>
                    <div class="panel last">
                        <p>Care4Hair uses an organic, purpose-built pigment used solely for SMP. This is not tattoo ink, therefore it will not fade into a different color (for example, from black to blue). Care4Hair also matches the tint color to the patient’s scalp, establishing a natural look as it fades.
                        </p>
                    </div>
                    
                </div>
                <div class="faq">
                    <button class="accordion">When can I shave my head after scalp micropigmentation?
                    </button>
                    <div class="panel">
                        <p>Care4Hair’s SMP specialists recommend you wait approximately one week before shaving your head following scalp micropigmentation. Use an electric foil shaver to avoid scabbing or other damages to the skin.
                        </p>
                    </div>
            
                    <button class="accordion">Can you get a hair transplant after scalp micropigmentation?
                    </button>
                    <div class="panel">
                        <p>Absolutely! Any patient can undergo a hair transplant approximately 6 weeks after scalp micropigmentation if they want more dramatic or permanent results. Patients in their early to mid twenties should wait to undergo a hair transplant since hair loss fluctuates early on; it is difficult to predict how it will stabilize until around age 30. Therefore, younger patients often opt for SMP and wait to have a hair transplant once their natural hairlines settle.
                        </p>
                    </div>
            
                    <button class="accordion">When can I first wash my head after scalp micropigmentation?
                    </button>
                    <div class="panel last">
                        <p>Do not wash your head for the first 3 days after scalp micropigmentation. Once this time has passed, you can gently cleanse your scalp with lukewarm water and sulfate-free shampoo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
