<section class="hair-loss-text-image-sec">
        <div class="hair-loss-text-image-sec-wrap">
            <div class="img-wrap h-100">
                <img src="~/themes/care4hair/images/services-pages/eyebrow-hair-transplant-miami.png" class="borr-500" alt="beard hair transplant image">
            </div>
            <div class="text-wrap flex-col">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Eyebrow Hair Transplantation
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p>Thick brows are a symbol of youth and vitality. Brows frame the face, accentuating the eyes and adding symmetry to its overall appearance. Eyebrow transplants were originally intended to restore eyebrow growth in patients who lost hair from chemotherapy or genetic diseases. However, brow transplants have recently gained popularity in the cosmetic world. The results of an eyebrow hair transplant will be natural-looking compared to results from microblading or makeup. You will see increased brow density in a custom-designed shape for your face.
                </p>
            </div>
        </div>

    </section>

    <section class="hair-loss-text-sec">
        <div class="hair-loss-bg-2">
            <div class="overlay"></div>
            <img src="~/themes/care4hair/images/services-pages/eyebrow-hair-transplant-img-1.png" alt="background image" class="bg-img">
        </div>
        <div class="text-columns">
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Ideal Candidates For An Eyebrow Transplant
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p style="margin-top: 55px;">
                    Ideal candidates for an eyebrow transplant are individuals who were born with thin brows or those who have lost density that they wish to restore. Some patients struggle to regrow hair after chemotherapy, overplucking, and tattooing or have experienced residual scarring after trauma to the eye. Transgender patients wanting a more mascluine or feminine look are also prime candidates for this restorative treatment. Contrarily, those who have been diagnosed with alopecia areata or other autoimmune diseases that cause chronic hair loss are not typically well-suited for an eyebrow transplant; the results will not be long-lasting as intended.
                    <br><br>
                    Schedule a free consultation with a specialist at Care4Hair to receive individualized attention. Call now to receive a detailed hair transplantation strategy that suits your individual needs.
                </p>
            </div>
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Benefits Of An Eyebrow Transplant
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p style="margin-top: 55px;">
                    Since eyebrows play such a huge role in our overall facial harmony, an eyebrow hair transplant for individuals with sparse brows is life-changing. Additional benefits of a brow hair transplant include:
                </p>
                <ul>
                    <li>Completely restores overplucked eyebrows, scarred areas, and sections where tattooing or other medical procedures have caused baldness.
                    </li>
                    <li>Assists transgender patients achieve a more masculine or feminine appearance.
                    </li>
                    <li>Frames the face and accents the eyes of individuals who were born with thin brows.
                    </li>
                    <li>Delivers a lifted look to patients who have shed hair due to aging.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="selector-sec">
        <div class="selector-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Eyebrow Transplant With FUE Technique
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <p class="selector-sec-p">
                Care4Hair performs eyebrow transplants using Follicular Unit Extraction (FUE). This method is alike in that involve removing individual hair follicles from donor areas and implanting them into the balding recipient areas. The process for each eyebrow transplant technique goes as follows:
            </p>
            <div class="selector-sec-item-wrap">
                <div class="selector-sec-item selector-sec-item-1 active" onclick="activateSelector1()">
                    <span class="number">
                        01
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/follicle-extraction-icon.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-sec-item-name">
                        FUE
                    </div>
                </div>
            </div>
            <div class="selector-sec-text">
                <div class="selector-sec-text-1 active">During an FUE eyebrow transplant, the surgeon creates tiny incisions in the recipient area according to the predetermined eyebrow shape. The donor follicles will then be removed from above the ear or back of the head with NeoGraft technology and manually implanted in the set eyebrow areas.
                </div>
            </div>
            <p class="selector-sec-p">
                A benefit of FUE has automatically created openings while it implants the follicles. Also, since the follicles are quickly transferred from the donor to the transplant site, the hair spends less time disconnected from the body, warranting a healthier brow transplant.
            </p>
            <a href="#" class="button light">Contact us today</a>
        </div>
    </section>
    
    <section class="hair-loss-text-sec">
        <div class="text-columns">
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        How Many Hair Grafts Are Needed For An Eyebrow Transplant?
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p>
                    If you cannot regrow eyebrow hairs because of chemotherapy, tattooing, or other trauma to your eye, your procedure may require 600-1000 grafts. If you are filling in some patchy spots, it might require only 100-200 grafts. These amounts are approximate and can be better answered by your hair specialist at the first consultation.
                </p>
                <div class="heading-wrap mt-50">
                    <h2 class="h2-heading">
                        Risks And Side Effects Of Eyebrow Transplant
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p class="mb-30-small-screen">
                    Eyebrow transplants pose similar risks to other hair transplant procedures. Talk to our doctor about the following potential complications:
                </p>
                <ul>
                    <li>Excessive bleeding</li>
                    <li>Nerve damage</li>
                    <li>Swelling around the eyes</li>
                    <li>Bruising</li>
                    <li>Infection</li>
                    <li>Scarring</li>
                </ul>
            </div>
            
            <div class="text-wrap">     
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Eyebrow Transplant Recovery
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>           
                <p>
                    The recovery period for an eyebrow transplant is fairly quick. Most patients return to their regular routines anywhere from 5-7 days following the procedure. However, results begin to reflect within 4-6 months and finalize after one year.
                    <br><br>
                    Scabbing and swelling around the brows is expected within the first week but rest assured, any superficial bruising or crusting will disappear after a few days. It is critical not to scratch or pick at the area in any way during this time. Do not wash your eyebrows or the donor area for at least 24 hours, and wear a button-down shirt for the first week to avoid dislodging the follicles when changing. Any pain or discomfort is easily managed with prescribed pain medication which should be filled prior to your surgery day.
                    <br><br>
                    The transplanted hairs will begin to shed anywhere from 2-8 weeks after your procedure during a resting phase called “shock loss.” This is the body’s natural reaction to the surgery and is no cause for alarm. The follicles remain alive and healthy under the skin while the hair sheds and regenerates in about four months; results reach maximum fullness after a year.
                </p>
            </div>
        </div>
    </section>

    <section class="before-after-sec">
        <div class="before-after-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Hair Transplant Before And After
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <div class="before-after">
                <div class="ba-wrap">
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/before-13.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                Before
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/after-13.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                after
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/before-14.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                Before
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/after-14.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                after
                            </div>
                        </div>

                    </a>
                </div>
            </div>
            <div class="button">view more results</div>

        </div> 
    </section>

    <section class="sec-6">
        <div class="sec-6-bg-img"></div>
        <div class="sec-6-wrap">
            <div class="sec-6-header">Eyebrow Hair Transplant Cost In Miami
            </div>
            <p>
                The cost of an eyebrow transplant varies depending on the size of the treated area and designated technique, as it is charged per graft. At Care4Hair, we typically charge between $2.00 to $3.50USD per graft, while the national average falls between $4.00 to $12.00USD per graft. Call Care4Hair now to schedule a free consultation and receive a personalized quote. Out-of-town patients can also send photos to our hair specialists for exclusive virtual assistance.
            </p>
            <a href="tel:3052626070" class="button light">(305) 262-6070</a>
        </div>
    </section>

    <section class="solo-text-sec">
        <img src="~/themes/care4hair/images/services-pages/hairline-restoration-1.png" alt="background image" class="solo-text-img">          
        <div class="solo-text-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    How Many Hair Grafts Will I Need For My Hair Transplant Procedure?
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <p>
                Every patient has different hair restoration goals. Therefore, the number of grafts needed will vary. In general, however, it can range anywhere from 600 to 3,000 grafts. Male and female pattern baldness differs in that women’s hair sheds from all over their head, starting at their part line, and men’s hair loss follows a more predictable pattern beginning at the hairline and working its way back. Men can classify their hair loss stage using the Norwood-Hamilton scale, and women can use the Ludwig scale. The greater the hair loss, the more grafts are needed to restore density. Speaking directly to our surgeon or a Care4Hair specialist about your specific problem areas is the best way to determine how many grafts you need.
            </p>
        </div>
    </section>

@await Html.PartialAsync("ContactForms/ServicePageContactForm")

<section class="faq-sec">
        <div class="faq-wrap">
            <div class="faq-header-wrap">
                <h1>@Vocabulary.FAQS</h1>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <div class="faqs">
                <div class="faq">
                    <button class="accordion">What are the benefits of FUE hairline restoration?</button>
                    <div class="panel">
                        <p>FUE is more advantageous than FUT since it involves no downtime, stitches, scars or large incisions. Patients recover faster and do not experience restriction of movement during recovery. They can also wear short hairstyles since FUE leaves no visible scarring. The FUE method is performed using various technologies.
                        </p>
                    </div>
                
                    <button class="accordion">Is hair transplant surgery the best approach to hair loss?
                    </button>
                    <div class="panel">
                        <p>Hairline transplant surgery is the only permanent solution for nearly all patients. Typically, our patients exhaust other treatment options before coming to Care4Hair.
                        </p>
                    </div>

                    <button class="accordion">Can a hair transplant minimize my broad forehead?
                    </button>
                    <div class="panel">
                        <p>Yes! A lower, natural-looking hairline can be transplanted to create a smaller forehead as long as there is adequate donor hair. Hair is harvested from the back of your head and placed in individual units along the hairline to frame the face as desired. 
                        </p>
                    </div>

                    <button class="accordion">How long does hair transplant recovery take?
                    </button>
                    <div class="panel">
                        <p>Patients undergoing FUE frontal hairline restoration should expect a full recovery within a week. However, FUT hair transplant surgery usually involves an average of three weeks to recover.
                        </p>
                    </div>
                
                    <button class="accordion">Can an FUE hair transplant cover scars from a previous transplant?
                    </button>
                    <div class="panel last">
                        <p>Yes, both the FUE hair transplant method cover scars from previous transplants. FUT transplants were performed more commonly in the past before the rise of newer technologies. Since the FUT method requires removing a strip of skin from the back of the head, it leaves a scar behind. FUT is not used as often anymore (except for on select patients), yet, countless individuals contact our hair specialists seeking to hide these residual scars.
                        </p>
                    </div>

                    
                </div>
                <div class="faq">
                    <button class="accordion">Which hair transplant technique is best?
                    </button>
                    <div class="panel">
                        <p>Most clinics, including Care4Hair, recommend the FUE technique since it is the most advanced hairline restoration techniques. It involves removing individual hair follicles from the scalp and are far less invasive than the FUT method. However, select patients are better suited for a FUT frontal hairline transplant.
                        </p>
                    </div>
                
                    <button class="accordion">What is a good age for hair transplantation?
                    </button>
                    <div class="panel">
                        <p>Candidates should be over the age of 25, preferably within the 30-50 year range to undergo hair transplantation. Hair loss in patients under 30 oscillates, making it difficult to determine how this type of hair loss will develop with age. Yet, hair transplantation can be performed on younger patients depending on their hair loss type. We recommend scheduling a free consultation with the specialists at Care4Hair to evaluate your unique circumstance.
                        </p>
                    </div>
                  
                    <button class="accordion">Who is a good candidate for a hair transplant?
                    </button>
                    <div class="panel">
                        <p>The ideal candidates for a hair transplant are:
                        </p>
                        <ul>
                            <li>Patients experiencing hair loss caused by male or female pattern baldness
                            </li>
                            <li>Patients whose hair loss is worsening in spite of prescription drugs
                            </li>
                            <li>Patients experiencing a more stable loss pattern after years of balding
                            </li>
                            <li>Patients whose hair loss is caused by trauma, burn injuries, or surgery
                            </li>
                        </ul>
                        <p>However, other types of individuals can be suitable candidates. Please call our Care4Hair office in Miami to learn more.
                        </p>
                    </div>
                
                    <button class="accordion">Are hair restoration results natural-looking?
                    </button>
                    <div class="panel">
                        <p>Yes, our goal at Care4Hair is for all patients to achieve permanent, natural-looking results.  Check our before and after gallery
                        </p>
                    </div>
                    
                    <button class="accordion">How long does it take for transplanted hair to grow?
                    </button>
                    <div class="panel">
                        <p>You should expect "shock loss" following your hair transplant. Shock loss is a shedding of the hair that occurs 2-3 weeks after the procedure as your body's innate response to the surgery. The grafts will grow again; by the 6th month, you will see 50-60% of the final growth. Full results should be visible approximately 12-18 months following the operation.
                        </p>
                    </div>

                    <button class="accordion">Is frontal hair transplant surgery painful?
                    </button>
                    <div class="panel">
                        <p>No. We administer a local anesthetic prior to the commencement of any surgery so patients will not feel pain during the procedure.
                        </p>
                    </div>

                    <button class="accordion">Are there any complications associated with hair transplant procedures?
                    </button>
                    <div class="panel last">
                        <p>Care4Hair’s hair transplant procedures yield a high success rate, so complications are uncommon. The surgeon will discuss any potential concerns with you during the initial consultation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>