 
            <h2 class="doctor-h2">
                Biography
            </h2>
            <p>
                A skilled specialist at analyzing patients’ histories and preliminary test results to build a diagnosis. In addition, has experience with wellness exams and chronic disease management. Has collaborated with physicians and anesthesiologists to quickly assess patients and deliver appropriate care while recovering from general anesthesia after surgical procedures.
            </p>
            <h2 class="doctor-h2">
                Education
            </h2>
            <ul>
                <li><span>Doctor of Medicine</span>: Universidad de Ciencias Medicas, Sancti Spiritus, Cuba.
                </li>
                <li><span>Associate of Science in Nursing</span>: EDP University of Puerto Rico, Puerto Rico.
                </li>
                <li><span>M.Sc. Family Nurse Practitioner</span>: Miami Regional University.
                </li>
            </ul>
