 <section class="doctor-sec">
        <div class="doctor-sec-wrap">
            <div class="doctor-about">
                <img src="../../media/doctors-pages/Marianela-Lopez.jpeg" alt="image of doctor" class="doctor-image">
                <div class="doctor-about-text-wrap">
                    <img src="../../media/doctors-pages/baks-servicios-black.jpeg" alt="background image" class="bg-img">
                    <div class="doctor-about-text">
                        <h2 class="doctor-h2">
                            Marianela Lopez
                        </h2>
                        <span>APRN
                        </span>
                        <p class="doctor-desc">
                            Licensed Advanced Practice Registered Nurse. Compassionate and comprehensive professional with experience providing care and wellness
                        </p>
                        <ul>
                            <li><span>experience:</span>&nbsp; 8 Years</li>
                            <li><span>email:</span>&nbsp; info@care4hairmiami.com</li>
                            <li><span>phone:</span>&nbsp; (305) 262-6070</li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="doctor-h2">
                Biography
            </h2>
            <p>
                A skilled specialist at analyzing patients’ histories and preliminary test results to build a diagnosis. In addition, has experience with wellness exams and chronic disease management. Has collaborated with physicians and anesthesiologists to quickly assess patients and deliver appropriate care while recovering from general anesthesia after surgical procedures.
            </p>
            <h2 class="doctor-h2">
                Education
            </h2>
            <ul>
                <li><span>Doctor of Medicine</span>: Universidad de Ciencias Medicas, Sancti Spiritus, Cuba.
                </li>
                <li><span>Associate of Science in Nursing</span>: EDP University of Puerto Rico, Puerto Rico.
                </li>
                <li><span>M.Sc. Family Nurse Practitioner</span>: Miami Regional University.
                </li>
            </ul>
        </div>
    </section>