   
         <div class="contact-form-wrap">
                <h2 class="h2-heading lh-1-5">
                    Send Us A Message                
                </h2>
                <form action="">
                    <input type="text" placeholder="YOUR NAME *">
                    <input type="tel" placeholder="PHONE *">
                    <input type="email" placeholder="YOUR NAME *">
                    <textarea name="request-message" id="request-message" cols="30" rows="6" placeholder="MESSAGE..."></textarea>
                    <button type="submit">SEND MESSAGE</button>
                </form>
            </div>
  

