    <section class="accent-contact-sec">
        <div class="accent-contact-sec-wrap">
            <h2 class="h2-heading">
                Receive Personalized Quotes And Answers To Your Questions.
            </h2>
            <p class="accent-contact-sec-p">
                Schedule a private consultation with our doctor at Care4Hair clinic in Miami.
            </p>

            <form class="accent-sec-form" action="">
                <input type="text" id="name" placeholder="YOUR NAME *" required>
                <input type="tel" id="phone" placeholder="PHONE *" required>
                <input type="email" id="email" placeholder="YOUR EMAIL *" required>
                <textarea name="message" id="message" cols="30" rows="5" placeholder="MESSAGE..."></textarea>
                <button type="submit">
                    send message
                </button>
            </form>
        </div>
    </section>