 <section class="doctor-sec">
        <div class="doctor-sec-wrap">
            <div class="doctor-about">
                <img src="" alt="image of doctor" class="doctor-image">
                <div class="doctor-about-text-wrap">
                    <img src="../../media/doctors-pages/baks-servicios-black.jpeg" alt="background image" class="bg-img">
                    <div class="doctor-about-text">
                        <h2 class="doctor-h2">
                            Disney Lima
                        </h2>
                        <span>RN, APRN
                        </span>
                        <p class="doctor-desc">
                            Licensed Advanced Registered Nurse Practitioner. Patient-oriented professional with vast medical experience. Committed to top quality medical performance
                        </p>
                        <ul>
                            <li><span>experience:</span>&nbsp; 11 Years</li>
                            <li><span>email:</span>&nbsp; info@care4hairmiami.com</li>
                            <li><span>phone:</span>&nbsp; (305) 262-6070</li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="doctor-h2">
                Biography
            </h2>
            <p>
                Energetic and initiative specialist with superb analytical, managerial, and problem-solving skills. Patient-oriented approach to work with a commitment to top-quality medical performance. Attentive and highly trained professional with a strong sense of responsibility as well as vast medical experience.

                Proven leader with strong organizational and multi-tasking skills combined with an ability to guide and supervise. Excellent verbal and written communication skills both in English and Spanish.
            </p>
            <h2 class="doctor-h2">
                Education
            </h2>
            <ul>               
                <li><span>Associate of Science in Nursing</span>: International Institute for Health Care Professionals, Boca Raton, Fl.
                </li>
                <li><span>Master of Science in Nursing Family Nurse Practitioner</span>: Miami Regional University.
                </li>
            </ul>
        </div>
    </section>