 
            <h2 class="doctor-h2">
                Biography
            </h2>
            <p>
                Energetic and initiative specialist with superb analytical, managerial, and problem-solving skills. Patient-oriented approach to work with a commitment to top-quality medical performance. Attentive and highly trained professional with a strong sense of responsibility as well as vast medical experience.

                Proven leader with strong organizational and multi-tasking skills combined with an ability to guide and supervise. Excellent verbal and written communication skills both in English and Spanish.
            </p>
            <h2 class="doctor-h2">
                Education
            </h2>
            <ul>               
                <li><span>Associate of Science in Nursing</span>: International Institute for Health Care Professionals, Boca Raton, Fl.
                </li>
                <li><span>Master of Science in Nursing Family Nurse Practitioner</span>: Miami Regional University.
                </li>
            </ul>
       