<section class="hair-loss-text-image-sec">
        <div class="hair-loss-text-image-sec-wrap">
            <div class="img-wrap h-100">
                <img src="~/themes/care4hair/images/services-pages/beard-hair-transplant-img-1.png" alt="beard hair transplant image">
            </div>
            <div class="text-wrap flex-col">
                <p>Do you want a thick, full beard? The specialists at Care4Hair in Miami are here to make it happen. No other part of the body gets as much attention as the face, with facial hair being the focal point. Therefore, it is one of our doctor’s most widely requested procedures. A beard hair transplant involves removing follicles from the back of the scalp and implanting them into patchy areas of the beard. This procedure is minimally invasive, requires almost no downtime, and produces permanent results for outstanding patient satisfaction.
                </p>
            </div>
        </div>

    </section>

    <section class="hair-loss-text-sec">
        <div class="hair-transplant-bg">
            <div class="overlay"></div>
            <img src="~/themes/care4hair/images/services-pages/beard-hair-transplant-img-2.png" alt="background image" class="bg-img-background">
        </div>
        <div class="text-columns">
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Types Of Hair Transplants For Men
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p style="margin-top: 55px;">
                    The best candidates for a beard hair transplant have enough viable follicles in the donor site, usually between 2,000 and 2,500. Many candidates suffer from uneven patches or scarring from burns that they wish to conceal. The doctor will evaluate your hair loss causes and analyze your donor area at your free consultation to determine if you are a prime candidate for a beard hair transplant.
                </p>
            </div>
        </div>
    </section>

    <section class="selector-sec selector-no-text">
        <div class="selector-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Beard Hair Transplant Process
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <p class="selector-sec-p darker-text">
                The beard hair transplant process is performed primarily through Follicular Unit Extraction (FUE). The FUE technique is a method of grafting hair follicles from a donor area of the scalp- typically the back of the head- to a thinning or balding area, formally known as the recipient area. Care4Hair employs the FUE technique as the best approach to perform a beard hair transplant since it is non-invasive and does not leave linear scarring.
            </p>
            <p class="selector-sec-p mt-50">
                The FUE beard hair transplant goes as follows:
            </p>
            <div class="selector-sec-item-wrap">
                <div class="selector-sec-item selector-sec-item-7" onclick="activateSelector7()">
                    <span class="number">
                        01
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/trim-icon.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-sec-item-name">
                        Trim
                    </div>
                    <div class="selector-item-text">
                        The donor area is trimmed for direct access to the skin and hair
                    </div>
                </div>
                <div class="selector-sec-item selector-sec-item-8" onclick="activateSelector8()">
                    <span class="number">
                        02
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/anesthesia-icon.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-sec-item-name">
                        Anesthesia
                    </div>
                    <div class="selector-item-text">
                        A Care4Hair specialist administers a local anesthetic to numb the area
                    </div>
                </div>
                <div class="selector-sec-item selector-sec-item-9" onclick="activateSelector9()">
                    <span class="number">
                        03
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/follicle-extraction-icon.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-sec-item-name">
                        Graft Extraction
                    </div>
                    <div class="selector-item-text">
                        The doctor either removes the follicles manually, with a NeoGraft machine.
                    </div>
                </div>
                <div class="selector-sec-item selector-sec-item-9" onclick="activateSelector9()">
                    <span class="number">
                        04
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/graft-implantation-icon.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-sec-item-name">
                        Implantation
                    </div>
                    <div class="selector-item-text">
                        Follicles are sorted and implanted into the sparse areas of the beard, following the design you and the surgeon decided upon.
                    </div>
                </div>
            </div>
            <p class="selector-sec-p darker-text mt-50">
                The hair specialists will lastly clean and bandage the affected area. We will ensure you have all the necessary aftercare instructions for optimal results and your overall satisfaction in the end.
            </p>
            <a href="#" class="button light">Contact us today</a>
        </div>
    </section>
    
    <section class="hair-loss-text-sec">
        <div class="text-columns">
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Beard Hair Transplant Results
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p class="mb-30-small-screen">
                    Beard hair transplant results will be permanent so long as the patient follows the proper aftercare directions. However, these results may take some months to show. Within the first 2-3 weeks, your body will likely undergo “shock loss,” a period where your hair will shed. Shock loss is the body’s natural reaction to the surgery and does not indicate that the procedure failed. Rest assured, the grafts will remain secure and facial growth will show after 3-4 months. The results should fully mature by the 12th month.
                </p>
                <div class="heading-wrap mt-50">
                    <h2 class="h2-heading">
                        Recovery After A Beard Hair Transplant
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p class="mb-30-small-screen">
                    Recovery after a beard hair transplant is virtually painless but does require careful adherence to aftercare instructions. Patients will need to keep the surgical area completely dry soon after surgery so the grafts can set well. After 2-3 days, you can gently shampoo the beard with soap and water to remove the crusts.
                </p>
            </div>
            
            <div class="text-wrap">                
                <p>
                    Some activities to avoid after surgery include:
                </p>
                <ul>
                    <li>Touching, scratching, or rubbing the surgical area</li>
                    <li>Sun exposure</li>
                    <li>Heavy physical activities</li>
                    <li>Taking blood thinners or any other medication– only as prescribed by your surgeon</li>
                    <li>Smoking or using tobacco products</li>
                    <li>Drinking alcohol</li>
                    <li>Swimming, using hot tubs, or saunas</li>
                </ul>
                <p>
                    Redness in the face can occur, especially to patients with a fair complexion, but it will resolve in a few weeks. Regrowth onsets after six months; this new hair can be groomed like any other hair.
                </p>
            </div>
        </div>
    </section>

    <section class="before-after-sec">
        <div class="before-after-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Hair Transplant Before And After
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <div class="before-after">
                <div class="ba-wrap">
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/before-10.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                Before
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/after-10.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                after
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/before-11.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                Before
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/after-11.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                after
                            </div>
                        </div>

                    </a>
                </div>
            </div>
            <div class="button">view more results</div>

        </div> 
    </section>

    <section class="sec-6">
        <div class="sec-6-bg-img"></div>
        <div class="sec-6-wrap">
            <div class="sec-6-header">Beard Hair Transplant Cost
            </div>
            <p>
                A beard hair transplant is not very expensive when compared to other grooming procedures. Patients usually pay for the number of grafts prepared and transplanted. Therefore, the beard transplant price can differ from patient to patient. The more grafts required, the higher the price. At Care4Hair, we charge an average of $2.00- $3.50USD per graft.
                <br><br>
                To receive a personalized quote, schedule a free consultation with our doctor and his team at Care4Hair in Miami. Let’s achieve your desired look and revive your confidence together!
            </p>
            <a href="tel:3052626070" class="button light">(305) 262-6070</a>
        </div>
    </section>

    <section class="solo-text-sec">
        <img src="~/themes/care4hair/images/services-pages/beard-hair-transplant-img-3.png" alt="background image" class="solo-text-img">          
        <div class="solo-text-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Beard Hair Transplant Side Effects
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <p>
                Your face and scalp may experience these side effects following a beard hair transplant:
            </p>
            <ul>
                <li>Swelling</li>
                <li>Redness</li>
                <li>Tightness</li>
                <li>Numbness</li>
                <li>Temporary scabs or crustiness</li>
            </ul>
            <p>The FUE method might leave tiny, unnoticeable scars on the donor area; regardless, your natural hair growth will cover it up. Your face will not undergo any scarring, but there will be some temporary scabs. If crustiness, redness, swelling, or irritation continues after a couple of weeks, be sure to inform the doctor at your follow-up appointment.
            </p>
        </div>
    </section>

   @await Html.PartialAsync("ContactForms/ServicePageContactForm")

    <section class="faq-sec">
        <div class="faq-wrap">
            <div class="faq-header-wrap">
                <h1>@Vocabulary.FAQS</h1>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <div class="faqs">
                <div class="faq">
                    <button class="accordion">How long is the beard transplant procedure?</button>
                    <div class="panel">
                        <p>It takes an average of 8 hours to complete a beard transplant. However, it depends on the number of follicular units extracted and the size of targeted areas. Some patients may require as little as 2-4 hours to get the beard transplant results they want in the patchy areas. For example, patients who wish to undergo a goatee or mustache hair transplant will not need as much hair as those who desire a full beard.
                        </p>
                    </div>
                
                    <button class="accordion">What are the main causes of facial baldness?
                    </button>
                    <div class="panel">
                        <p>The primary reason for hair loss in men is genetics. Likewise, conditions such as thyroid or autoimmune diseases, infections, and hormonal factors may also affect hair growth.  Facial scarring can also result in patchy areas since hair typically doesn’t grow in scars unless a beard hair transplant is performed.
                        </p>
                    </div>
                
                    <button class="accordion">How many grafts are required for a beard hair transplant?
                    </button>
                    <div class="panel last">
                        <p>A beard hair transplant procedure typically involves the placement of 200-250 grafts per sideburn, 350-500 grafts to form a mustache, 300-700 grafts for a cheek beard, and 600-700 grafts for a full goatee.
                        </p>
                    </div>

                    
                </div>
                <div class="faq">
                    <button class="accordion">Where does the donor hair come from?
                    </button>
                    <div class="panel">
                        <p>Hair follicles cannot be donated by someone else; they must be grafted from another area of the patient’s own body. The transplanted hair mostly comes from the back and sides of the scalp, where the hair is the thickest. The doctor will determine which area is the closest match to the hair in the targeted area. Donor hair on the sides of the scalp is typically a good fit for the sideburns and upper cheeks.
                        </p>
                    </div>
                
                    <button class="accordion">Can I shave my transplanted hair?
                    </button>
                    <div class="panel">
                        <p>Implanted hair takes up to 2-3 weeks to take root, so patients should wait at least two weeks to a month to trim. The transplanted hair must remain in place as intended and grow in the right direction. Make sure you are gentle while shaving, as the face may feel sensitive, especially if you shave earlier than the recommended time.
                        </p>
                    </div>

                    <button class="accordion">Will the results of my beard hair transplant be permanent?</button>
                    <div class="panel">
                        <p>A beard hair transplant yields permanent results and should continue growing for years thereafter. It is vital to adhere closely to Care4Hair’s aftercare instructions to attain satisfactory results in the end.
                        </p>
                    </div>
                    
                    <button class="accordion">How much time should I take off from work for a beard transplant?
                    </button>
                    <div class="panel last">
                        <p>While this is a minimally invasive procedure, some patients prefer to take a few days to a week off from work for recovery. The doctor will assess your specific situation and suggest how much time you should take off from work prior to the procedure.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
