
<title>Dr. S. Alexander Earle, MD, FACS - Plastic Surgeon | Avana Plastic Surgery</title>
<meta name="description" content="Dr. S. Alexander Earle is a prestigious board-certificated plastic surgeon with several awards and recognition. His expertise areas include cosmetic and reconstructive surgeries of body and face." />
<link rel="canonical" href="https://avanaplasticsurgery.com/dr-alexander-earle" />
<meta property="article:published_time" content="2018-11-21T14:18:17+00:00" />
<meta property="article:modified_time" content="2018-11-21T14:18:17+00:00" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Dr. S. Alexander Earle, MD, FACS | Avana Plastic Surgery" />
<meta property="og:description" content="Dr. S. Alexander Earle is a prestigious board-certificated plastic surgeon with several awards and recognition. His expertise areas include cosmetic and reconstructive surgeries of body and face." />
<meta property="og:url" content="/dr-alexander-earle" />
<meta property="og:site_name" content="Avana Plastic Surgery" />
<meta property="og:image" content="/content/images/jpg/professionals/alexander-earle.jpg" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Dr. S. Alexander Earle is a prestigious board-certificated plastic surgeon with several awards and recognition. His expertise areas include cosmetic and reconstructive surgeries of body and face." />
<meta name="twitter:title" content="Dr. S. Alexander Earle, MD, FACS | Avana Plastic Surgery" />
<meta name="twitter:image" content="/content/images/jpg/professionals/alexander-earle.jpg" />
