<section class="doctor-sec">
        <div class="doctor-sec-wrap">
            <div class="doctor-about">
                <img src="../../media/doctors-pages/Mendizabal.jpeg" alt="image of doctor" class="doctor-image">
                <div class="doctor-about-text-wrap">
                    <img src="../../media/doctors-pages/baks-servicios-black.jpeg" alt="background image" class="bg-img">
                    <div class="doctor-about-text">
                        <h2 class="doctor-h2">
                            Dr. Manuel Mendizabal
                        </h2>
                        <span>HAIR TRANSPLANT SURGEON
                        </span>
                        <p class="doctor-desc">
                            Manuel S. Mendizabal, M.D. is recognized for the excellence of his work. Many patients come to his consultation and are satisfied with the result of Dr. Mendizabal.  
                        </p>
                        <ul>
                            <li><span>experience:</span>&nbsp; 47 Years</li>
                            <li><span>email:</span>&nbsp; info@care4hairmiami.com</li>
                            <li><span>phone:</span>&nbsp; (305) 262-6070</li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="doctor-h2">
                Biography
            </h2>
            <p>
                Dr. Manuel Mendizabal is a surgeon specializing in general surgery in Miami, Florida. He received his degree from Universidad Complutense de Madrid, Spain in 1975. He has been practicing medicine for over 47 years.
                <br><br>
                In addition, Dr. Mendizabal is certified by the American Board of Obstetrics & Gynecology, the American Board of Abdominal Surgery, and the American Board of Quality Assurance and Utilization Review Physicians.
                <br><br>
                Dr. Mendizabal also has outstanding communication skills in both English and Spanish.
            </p>
            <h2 class="doctor-h2">
                Education
            </h2>
            <ul>
                <li><span>Medical</span>: MD from Universidad Complutense de Madrid, Spain.
                </li>
                <li><span>Residence</span>: General Surgery. Mount Sinai Medical Center, Miami Beach, Florida.
                </li>
                <li><span>Residence</span>: Obstetrics & Gynecology. Mount Sinai Medical Center, Miami Beach, Florida.
                </li>
                <li><span>Residence</span>:  Chief Resident, Obstetrics & Gynecology. Mount Sinai Medical Center, Miami Beach, Florida.
                </li>
            </ul>
        </div>
    </section>