

            <h2>Meet Dr. Earle</h2>
                  
            <p>Dr. Steven A. Earle is a double Board Certified Plastic Surgeon whose surgical skill and innovative techniques have been sought after by patients locally and nationwide. He is known for his artistry in performing the full spectrum of surgical procedures, such as breast augmentation, breast reconstruction, tummy tuck, Brazilian butt lift, brow lift, rhinoplasty, neck lift, and several others. The talented surgeon can produce results that are both functional and aesthetically pleasing.   </p>

            <p>Dr. Earle graduated from New York University School of Medicine in 2002. He completed his education and medical training at prestigious institutions such as NYU School of Medicine, Duke University, Princeton University, and Jackson Memorial Hospital. He was later recruited to become a staff member at the prestigious Cleveland Clinic in Florida. He is certified by the American Board of Surgery and the American Board of Plastic Surgery and has received several awards and accolades, including America's Top Plastic Surgeons for four consecutive years and Fellow of the American College of Surgeons.  </p>

            <p>Dr. Earle is an avid reader actively involved in research. His notable publications in peer-reviewed journals as well as book chapters, demonstrate his commitment to his career and the advances in cosmetic surgery. He loves intellectual demand and the artistry and creation of beauty that make his patients look great!   </p>

           <p>The talented doctor takes the time to work closely with his patients using his refined surgical skills to create life-altering effects that will make them look attractive and vibrant. His inspiration comes mainly from the beauty that resides within. He will endeavor to make your surgical journey as safe, comfortable and fulfilling as possible. Dr. Earle has staff privileges at several hospitals in South Florida. He focuses on safety and will make sure every single patient is well taken care of throughout the entire surgical journey.  </p>

           <h2>Dr. Earle’s Medical Education & Experience</h2>

        <ul>
            <li>New York University School of Medicine, New York, NY (2002)<br />Doctor of Medicine </li>
            <li>Duke University Hospital, Durham, NC <br />Residency, Plastic Surgery</li>
            <li>Jackson Memorial Hospital, Miami, FL<br />Residency, General Surgery</li>
            <li>Princeton University<br />Other Training, Chemistry</li>
            <li>Cleveland Clinic<br />Staff Member</li>
        </ul>
      
        <h2>Post Graduate Certification @*& Memberships*@</h2>

        <ul>
            <li>American Board of Plastic Surgery (ABPS)</li>
            <li>Florida Medical License</li>
            <li>American Board of Surgery (ABS) </li>

            @*<li>Member of the American Society of Plastic Surgery</li>
            <li>Member of Southeastern Society of Plastic and Reconstructive Surgeons</li>
            <li>Member of The Miami Society of Plastic Surgeons</li>
            <li>Member of the American Medical Association</li>*@
        </ul>
         

        <h2>Awards and Academic Honors</h2>   
        
        <ul>
            <li>America's Top Plastic Surgeons (2014)</li>
            <li>America's Top Plastic Surgeons (2015)</li>
            <li>America's Top Plastic Surgeons (2016)</li>
            <li>America's Top Plastic Surgeons (2017)</li>
            <li>Fellow American College of Surgeons (2016)</li>
        </ul>
             
        <h3>Languages Spoken:</h3>

        <ul>
            <li>English</li>
            <li>Spanish</li>
        </ul>

      


