<section class="hair-loss-text-image-sec">
        <div class="hair-loss-text-image-sec-wrap">
            <div class="img-wrap h-100">
                <img src="~/themes/care4hair/images/services-pages/eyebrow-hair-transplant-miami.png" class="borr-500" alt="beard hair transplant image">
            </div>
            <div class="text-wrap flex-col">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Eyebrow Hair Transplantation
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p>Thick brows are a symbol of youth and vitality. Brows frame the face, accentuating the eyes and adding symmetry to its overall appearance. Eyebrow transplants were originally intended to restore eyebrow growth in patients who lost hair from chemotherapy or genetic diseases. However, brow transplants have recently gained popularity in the cosmetic world. The results of an eyebrow hair transplant will be natural-looking compared to results from microblading or makeup. You will see increased brow density in a custom-designed shape for your face.
                </p>
            </div>
        </div>

    </section>

    <section class="hair-loss-text-sec">
        <div class="hair-loss-bg-2">
            <div class="overlay"></div>
            <img src="~/themes/care4hair/images/services-pages/eyebrow-hair-transplant-img-1.png" alt="background image" class="bg-img">
        </div>
        <div class="text-columns">
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Ideal Candidates For An Eyebrow Transplant
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p style="margin-top: 55px;">
                    Ideal candidates for an eyebrow transplant are individuals who were born with thin brows or those who have lost density that they wish to restore. Some patients struggle to regrow hair after chemotherapy, overplucking, and tattooing or have experienced residual scarring after trauma to the eye. Transgender patients wanting a more mascluine or feminine look are also prime candidates for this restorative treatment. Contrarily, those who have been diagnosed with alopecia areata or other autoimmune diseases that cause chronic hair loss are not typically well-suited for an eyebrow transplant; the results will not be long-lasting as intended.
                    <br><br>
                    Schedule a free consultation with a specialist at Care4Hair to receive individualized attention. Call now to receive a detailed hair transplantation strategy that suits your individual needs.
                </p>
            </div>
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Benefits Of An Eyebrow Transplant
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p style="margin-top: 55px;">
                    Since eyebrows play such a huge role in our overall facial harmony, an eyebrow hair transplant for individuals with sparse brows is life-changing. Additional benefits of a brow hair transplant include:
                </p>
                <ul>
                    <li>Completely restores overplucked eyebrows, scarred areas, and sections where tattooing or other medical procedures have caused baldness.
                    </li>
                    <li>Assists transgender patients achieve a more masculine or feminine appearance.
                    </li>
                    <li>Frames the face and accents the eyes of individuals who were born with thin brows.
                    </li>
                    <li>Delivers a lifted look to patients who have shed hair due to aging.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="selector-sec">
        <div class="selector-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Eyebrow Transplant With FUE Technique
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <p class="selector-sec-p">
                Care4Hair performs eyebrow transplants using Follicular Unit Extraction (FUE). This method is alike in that involve removing individual hair follicles from donor areas and implanting them into the balding recipient areas. The process for each eyebrow transplant technique goes as follows:
            </p>
            <div class="selector-sec-item-wrap">
                <div class="selector-sec-item selector-sec-item-1 active" onclick="activateSelector1()">
                    <span class="number">
                        01
                    </span>
                    <div class="icon-wrap">
                        <img src="~/themes/care4hair/images/services-pages/follicle-extraction-icon.svg" alt="icon for procedure">
                    </div>
                    <div class="selector-sec-item-name">
                        FUE
                    </div>
                </div>
            </div>
            <div class="selector-sec-text">
                <div class="selector-sec-text-1 active">During an FUE eyebrow transplant, the surgeon creates tiny incisions in the recipient area according to the predetermined eyebrow shape. The donor follicles will then be removed from above the ear or back of the head with NeoGraft technology and manually implanted in the set eyebrow areas.
                </div>
            </div>
            <p class="selector-sec-p">
                A benefit of FUE has automatically created openings while it implants the follicles. Also, since the follicles are quickly transferred from the donor to the transplant site, the hair spends less time disconnected from the body, warranting a healthier brow transplant.
            </p>
            <a href="#" class="button light">Contact us today</a>
        </div>
    </section>
    
    <section class="hair-loss-text-sec">
        <div class="text-columns">
            <div class="text-wrap">
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        How Many Hair Grafts Are Needed For An Eyebrow Transplant?
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p>
                    If you cannot regrow eyebrow hairs because of chemotherapy, tattooing, or other trauma to your eye, your procedure may require 600-1000 grafts. If you are filling in some patchy spots, it might require only 100-200 grafts. These amounts are approximate and can be better answered by your hair specialist at the first consultation.
                </p>
                <div class="heading-wrap mt-50">
                    <h2 class="h2-heading">
                        Risks And Side Effects Of Eyebrow Transplant
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>
                <p class="mb-30-small-screen">
                    Eyebrow transplants pose similar risks to other hair transplant procedures. Talk to our doctor about the following potential complications:
                </p>
                <ul>
                    <li>Excessive bleeding</li>
                    <li>Nerve damage</li>
                    <li>Swelling around the eyes</li>
                    <li>Bruising</li>
                    <li>Infection</li>
                    <li>Scarring</li>
                </ul>
            </div>
            
            <div class="text-wrap">     
                <div class="heading-wrap">
                    <h2 class="h2-heading">
                        Eyebrow Transplant Recovery
                    </h2>
                    <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
                </div>           
                <p>
                    The recovery period for an eyebrow transplant is fairly quick. Most patients return to their regular routines anywhere from 5-7 days following the procedure. However, results begin to reflect within 4-6 months and finalize after one year.
                    <br><br>
                    Scabbing and swelling around the brows is expected within the first week but rest assured, any superficial bruising or crusting will disappear after a few days. It is critical not to scratch or pick at the area in any way during this time. Do not wash your eyebrows or the donor area for at least 24 hours, and wear a button-down shirt for the first week to avoid dislodging the follicles when changing. Any pain or discomfort is easily managed with prescribed pain medication which should be filled prior to your surgery day.
                    <br><br>
                    The transplanted hairs will begin to shed anywhere from 2-8 weeks after your procedure during a resting phase called “shock loss.” This is the body’s natural reaction to the surgery and is no cause for alarm. The follicles remain alive and healthy under the skin while the hair sheds and regenerates in about four months; results reach maximum fullness after a year.
                </p>
            </div>
        </div>
    </section>

    <section class="before-after-sec">
        <div class="before-after-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Hair Transplant Before And After
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <div class="before-after">
                <div class="ba-wrap">
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/before-13.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                Before
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/after-13.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                after
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/before-14.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                Before
                            </div>
                        </div>

                    </a>
                    <a href="#" class="ba-item">
                        <div class="overlay"></div>
                        <img src="~/themes/care4hair/images/before-after/after-14.jpeg" alt="image of doctor">
                        <div class="text">
                            <div class="ba">
                                after
                            </div>
                        </div>

                    </a>
                </div>
            </div>
            <div class="button">view more results</div>

        </div> 
    </section>

    <section class="sec-6">
        <div class="sec-6-bg-img"></div>
        <div class="sec-6-wrap">
            <div class="sec-6-header">Eyebrow Hair Transplant Cost In Miami
            </div>
            <p>
                The cost of an eyebrow transplant varies depending on the size of the treated area and designated technique, as it is charged per graft. At Care4Hair, we typically charge between $2.00 to $3.50USD per graft, while the national average falls between $4.00 to $12.00USD per graft. Call Care4Hair now to schedule a free consultation and receive a personalized quote. Out-of-town patients can also send photos to our hair specialists for exclusive virtual assistance.
            </p>
            <a href="tel:3052626070" class="button light">(305) 262-6070</a>
        </div>
    </section>

    <section class="solo-text-sec">
        <img src="~/themes/care4hair/images/services-pages/eyebrow-hair-transplant-img-2.png" alt="background image" class="solo-text-img">          
        <div class="solo-text-sec-wrap">
            <div class="heading-wrap">
                <h2 class="h2-heading">
                    Your Consultation With The Doctor
                </h2>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <p>
                At your initial consultation, our doctor will evaluate your hair loss pattern and its causes. If you are a candidate for an eyebrow transplant, he will recommend the best transplantation method for you and explain the details of your procedure. At Care4Hair, we want every patient to understand the benefits as well as limitations before undergoing any procedure. Some factors to discuss include scar tissue, hair coverage, and density. It is vital to disclose all medical history to hair specialists in order to avoid unnecessary complications. If you forget an important question, no worries, you can ask follow-up questions by phone or email. Our team is always available to assist!
            </p>
        </div>
    </section>

@await Html.PartialAsync("ContactForms/ServicePageContactForm")

    <section class="faq-sec">
        <div class="faq-wrap">
            <div class="faq-header-wrap">
                <h1>FAQS</h1>
                <img class="separator" src="~/themes/care4hair/images/separator.svg" alt="separator">
            </div>
            <div class="faqs">
                <div class="faq">
                    <button class="accordion">Is an eyebrow transplant a safe procedure?</button>
                    <div class="panel">
                        <p>Eyebrow restoration surgery is considered a low-risk procedure. Although infections and other complications are possible, they are uncommon.
                        </p>
                    </div>
                
                    <button class="accordion">How long will the eyebrow hair grow?
                    </button>
                    <div class="panel">
                        <p>Hair that is transplanted to the brows will continue to grow as if it were in its original body area. For example, if your hair was transplanted from the scalp, it will grow as if it was still on the back of the scalp. Therefore, you will need to maintain your eyebrows with a quick trim once a week to maintain an appropriate eyebrow hair length.
                        </p>
                    </div>

                    <button class="accordion">How long will my eyebrow transplant procedure last?
                    </button>
                    <div class="panel">
                        <p>The length of this procedure depends on how many hairs are being transplanted. The transplantation can take anywhere from 1 to 4  hours. Half of this time is used to harvest the follicles and the other half to implant the hair.
                        </p>
                    </div>

                    <button class="accordion">What type of anesthesia is required for an eyebrow transplant?
                    </button>
                    <div class="panel">
                        <p>A local anesthetic is enough to numb any pain or discomfort caused by the transplant.
                        </p>
                    </div>
                
                    <button class="accordion">Where does the donor hair come from?
                    </button>
                    <div class="panel last">
                        <p>Donor hair is typically borrowed from above the ears or the back of the head.
                        </p>
                    </div>

                    
                </div>
                <div class="faq">
                    <button class="accordion">How long do eyebrow replacements last?
                    </button>
                    <div class="panel">
                        <p>Eyebrow transplant results should be permanent as long as the patient takes proper aftercare precautions and no future conditions destroy the new hair.
                        </p>
                    </div>
                
                    <button class="accordion">How do you know what shape to make my brows?
                    </button>
                    <div class="panel">
                        <p>We welcome you to bring photos of the look you want to achieve at your first consultation. This way, Care4Hair’s hair specialists can have a better understanding of your aesthetic goals and work with you to develop the most natural appearance. As a guide, here are some tips for selecting the best eyebrow design for your face shape:
                        </p>
                        <ul>
                            <li>Oval face: Soft angles with shorter arches complement the oval jawline.
                            </li>
                            <li>Round face: Higher, angled arches will lengthen the round face and provide balance.
                            </li>
                            <li>Square face: A stronger brow with defined arches harmonize the square face.
                            </li>
                            <li>Heart face: High arches suit shorter faces and low arches work best with longer faces.
                            </li>
                            <li>Diamond face: Rounded brows narrow and soften the cheeks.
                            </li>
                        </ul>
                        <p>If you need further assistance selecting an eyebrow shape, no worries! Our team of hair specialists are always available to help you through the process.
                        </p>
                    </div>
                  
                    <button class="accordion">Will the donor site become bald?
                    </button>
                    <div class="panel">
                        <p>Only every 3rd and 4th hair is taken from the donor site so the patient will not have a bald spot.
                        </p>
                    </div>
                
                    <button class="accordion">What happens during the first few days of eyebrow transplantation recovery?
                    </button>
                    <div class="panel">
                        <p>Recovery for this procedure can take 5-7 days. Patients will see small crusts around the hair during the first week, which will leave pink spots, but they will eventually fade over the next few weeks. Swelling around the eyes is normal within the first week but rest assured, it will disappear during this time.
                        </p>
                    </div>

                    <button class="accordion">How soon can I return to work after an eyebrow hair transplant?
                    </button>
                    <div class="panel last">
                        <p>We recommend taking approximately 5-7 days from work following your eyebrow hair transplant. However, the doctor will provide personalized instructions depending on your lifestyle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>